# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/.name
.idea/codeStyles
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/misc.xml
.idea/vcs.xml

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
